{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <title>Cadastro</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <nav>
        <div class="title-bar" >
          <span >Projeto Integrador</span>
        </div>
      </nav>
    <h1 class="title-cad">Cadastre o usuário</h1>
    <div class="info-cad">Complete suas informações: </div>
    

   <form action="{% url 'listagem_usuarios' %}" method="post">
    {% csrf_token %}
    <div class="item-cad">
        <label>Nome: </label>
        <input type="text" name="nome" id="nome" required>
    </div>
    <div class="item-cad">
        <label>Email: </label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="item-cad">
        <label>Endereço: </label>
        <input type="text" name="endereco" required>
    </div>
    <div class="item-cad">
        <label>CEP: </label>
        <input name="cep" required pattern="\d{5}-\d{3}">
    </div>
    <div class="item-cad">
        <label>Condominio: </label>
        <input type="text" name="condominio">
    </div>

    
  <button class="botao" type="submit">Concluido</button>

   </form>

   <a href="{% url 'exibir_usuarios' %}" class="botao-exibir-usuarios">Exibir usuários</a>

   <a href="{% url 'listagem_usuarios' %}" class="botao-administrar-usuarios">Administrar Usuários</a>
 
  </body>
</html>