{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav>
    <div class="title-bar">
      <span>Projeto Integrador</span>
    </div>
</nav>

<div class="container">
    <table>
        <tr>
           <th>ID</th>
           <th>Nome</th>
           <th>Email</th>
           <th>Endereço</th>
           <th>CEP</th>
           <th>Condomínio</th>
           <th>Ações</th> 
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.endereco }}</td>
            <td>{{ usuario.cep }}</td>
            <td>{{ usuario.condominio }}</td>
            <td>
              <a href="{% url 'atualizar_usuario' usuario.id_usuario %}">
                <button class="botao-atualizar" type="button">Atualizar</button>
            </a>
            

               <form action="{% url 'delete_usuario' usuario.id_usuario %}" method="post">
                 {% csrf_token %}
                 <input type="submit" value="Excluir" class="botao-deletar" onclick="return confirm('Tem certeza que deseja deletar este usuário?');">
               </form>
            </td>
        </tr> 
        {% endfor %}
    </table>
</div>
<br>
<br>
<a href="/" class="botao">Home</a>